<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Tracking App</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
</head>
<body>
    <h1>Project Tracking App</h1>

    <div class="form-container">
        <h3>Add Team</h3>
        <form action="{{ url_for('add_team') }}" method="POST">
            {{ team_form.csrf_token() }}
            {{ team_form.team_name.label }}
            {{ team_form.team_name }}
            {{ team_form.team_description.label }}
            {{ team_form.team_description }}
            {{ team_form.submit.label }}
            {{ team_form.submit }}
        </form>
    </div>

    <div class="form-container">
        <h3>Add Project</h3>
        <form action="{{ url_for('add_project') }}" method="POST">
            {{ project_form.csrf_token() }}
            {{ project_form.project_name.label }}
            {{ project_form.project_name }}
            {{ project_form.project_description.label }}
            {{ project_form.project_description }}
            {{ project_form.is_completed.label }}
            {{ project_form.is_completed }}
            {{ project_form.team_selection.label }}
            {{ project_form.team_selection }}
            {{ project_form.submit.label }}
            {{ project_form.submit }}
        </form>
    </div>
</body>
</html>